#mapid { height: 570px; }

#overview {
    width: 550px;
    padding: 5px;
    background-color: #E5E0DF;
}

.row {
    display: inline;
  }

  
.column {
    flex: 50%;
  }

.popbox {
    display: none;
    position: absolute;
    z-index: 99999;
    padding: 10px;
    background: #EEEFEB;
    color: #000000;
    border: 1px solid #4D4F53;
    margin: 0px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);
    box-shadow: 0px 0px 5px 0px rgba(164, 164, 164, 1);
}

.toggle-btn{
  margin-right: 36px;
}

.legend{
  width : max-content;
}

.card {
  border: 1px solid #d3d3d3;
  border-radius: .25rem;
}

.volcanoEvents {
  background-size: cover;
  min-height: 180px;
  /* background-position: center;
  background-color: #ccc; */
}

.content {
  padding: 15px;
}

button {
  background-color: transparent;
  border: 1px solid #2196F3;
  padding: .5rem 1rem;
  cursor: pointer;
  border-radius: .25rem;
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-auto-rows: auto;
  grid-gap: 20px;
}
/* 
.event:hover{
  stroke: #2196F3;
} */

#dashboard {
  display: none;
  margin: 20px;
}

.volcano-visual{
  border-color: #000000;
  border-radius: 5px;
  border-width: 3px;
  background: rgb(216, 216, 216);
  height: 555px;
}

#VolcanoView {
  display: none;
  margin :20px;
  width: 100%;
}

.volcano-data{
  border-color: #000000;
  border-radius: 6px;
  border-width: 1px;
  background: rgb(73, 72, 72);
  height: 555px;
}

.dropdown {
  display: none;
}
.dropdown-menu{
  max-height: 300px;
    overflow-y: scroll;
}

.tephra-map .leaflet-popup-content-wrapper {
  background:#2c3e50;
  color:#fff;
  font-size:16px;
  line-height:24px;
  }
.tephra-map .leaflet-popup-content-wrapper a {
  color:rgba(255,255,255,0.1);
  }
.tephra-map .leaflet-popup-tip-container {
  width:30px;
  height:15px;
  }
.tephra-map .leaflet-popup-tip {
  border-left:15px solid transparent;
  border-right:15px solid transparent;
  border-top:15px solid #2c3e50;
  border-bottom:1px solid transparent;
  background: transparent;
  }